# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

node_modules

#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.eslintrc*
.eslintignore
.prettier*

#editor settings
.idea
.editorconfig
.vscode

src/

.env*